/* balances.css */

.balance-summary {
    margin-bottom: 20px;
  }

  
  .balance-box {
    flex: 1;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-right: 10px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .balance-box:last-child {
    margin-right: 0;
  }
  
  .balance-box h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
  }
  
  .balance-box p {
    font-size: 24px;
    font-weight: bold;
    color: #1ea229;
  }
  .balance-box .expense {
    color: #ff0000; /* Red color */
  }
  
  /* Media Query */
  @media (max-width: 767px) {
    .balance-summary-container {
      flex-direction: column;
    }
    
    .balance-box {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  